<ion-header>
  <ion-toolbar>
    <ion-title>Événements</ion-title>
    <ion-icon slot="end" name="add" (click)="goToNewEvent()" style="margin-right: 2%;"></ion-icon>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card *ngFor="let event of listEvenements">
      <ion-card-header [color]="event.color">
          <ion-row style="height: auto;">
    
            <ion-col style="vertical-align: middle;" >
              {{event.titre}}
            </ion-col>
    
            <ion-col>
                <ion-icon name="{{event.icon}}" style="margin-left: 80%; height: 1.2rem; width: 1.2rem; position: relative"></ion-icon>
            </ion-col>
    
          </ion-row>
    
        </ion-card-header>
    
        <ion-card-content type="button" (click)="onCardClick(event)">
          <h3>
            <ion-icon name="calendar"></ion-icon>
            {{formatDate(event.dateEvenement)}}
          </h3>
    
    
          <h3>
            <ion-icon name="clock"></ion-icon>
            {{formatHeure(event.dateEvenement)}}
          </h3>
    
    
          <h3>
            <ion-icon name="pin"></ion-icon>
            {{event.adresse.ville}}
          </h3>
        </ion-card-content>

  </ion-card>
</ion-content>