<ion-header>
  <ion-toolbar>
    <ion-title>Créer un évenement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <br>
      &nbsp; Titre
      <ion-input class="input" type="text" [(ngModel)]="evenement.titre" name="title"></ion-input>
      <br>
      &nbsp; Description (350 caractères max)
      <ion-textarea class="input" maxLength="350" [(ngModel)]="evenement.description" name="description"></ion-textarea>
      <br>
      &nbsp;Nombre de participants maximum (0 pour illimité)
      <ion-input class="input" [(ngModel)]="evenement.nb_participantsMax" value="0" type="number" name="nombreParticipantsMax"></ion-input>
      <br>
      &nbsp; Lieu
      <ion-input class="input" [(ngModel)]="evenement.geolocalisation.libelle" name="lieu"></ion-input>
      <br>
      &nbsp; Date et heure
      <ion-datetime class="input" [(ngModel)]="dateEvenement" displayFormat="DD/MM/YYYY, HH:mm" pickerFormat="DD/MM/YYYY, HH:mm" [min]="minDate" [max]="maxDate" name="dateEvenement"></ion-datetime>
      <br>

    <ion-button style="border-bottom: solid 1px rgb(184, 213, 255);"expand="full" (click)="createEvent()" block>Créer <ion-icon name="add"></ion-icon></ion-button>
  </form>
</ion-content>
