<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
    <ion-back-button
      [text]="buttonText"
      [icon]="buttonIcon"
      slot="start">
      </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <div id="profileHeader">
    <div id="coverPicture" class="coverPicture">  
      <div id="profilePicture" class="profilePicture">
      </div>
      <div style="text-align: center; padding: 1%;">{{user.prenom}} {{user.nom}}</div>
      
    </div>
  <br>
</div>
  
  <div id="profileBody">
    Cupidatat laboris anim incididunt officia dolor culpa. Aliquip minim sint occaecat eu irure nostrud. Nisi ut voluptate cillum ex non. Tempor sit enim ea pariatur aliqua minim officia cillum. Reprehenderit sint commodo reprehenderit mollit veniam et minim nulla dolor ad. Nisi ex voluptate duis exercitation exercitation consequat Lorem in anim amet dolore ad aliqua.
    <br>
    Cupidatat laboris anim incididunt officia dolor culpa. Aliquip minim sint occaecat eu irure nostrud. Nisi ut voluptate cillum ex non. Tempor sit enim ea pariatur aliqua minim officia cillum. Reprehenderit sint commodo reprehenderit mollit veniam et minim nulla dolor ad. Nisi ex voluptate duis exercitation exercitation consequat Lorem in anim amet dolore ad aliqua.
    <br> Cupidatat laboris anim incididunt officia dolor culpa. Aliquip minim sint occaecat eu irure nostrud. Nisi ut voluptate cillum ex non. Tempor sit enim ea pariatur aliqua minim officia cillum. Reprehenderit sint commodo reprehenderit mollit veniam et minim nulla dolor ad. Nisi ex voluptate duis exercitation exercitation consequat Lorem in anim amet dolore ad aliqua.
  </div>
</ion-content>
