<ion-header>
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
    <!-- <ion-icon name="contact" (click)="goToProfile()" style="margin-right: 2%;" slot="end"></ion-icon> -->
    <ion-icon name="exit" (click)="logout()" style="margin-right: 2%;" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" class="container">
    <ion-card-header>
      <ion-card-title>Bienvenue sur Sport2Go</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p></p>
    </ion-card-content>
  </ion-card>
</ion-content>
