<ion-header>
</ion-header>

<ion-content>
  <ion-card class="container" *ngFor="let event of listEvenements" (click)="onCardClick(event)">
    <ion-card-header [color]="event.color">
        <ion-row style="height: auto;">
  
          <ion-col style="vertical-align: middle;" >
            {{event.titre}}
          </ion-col>
  
          <ion-col>
              <ion-icon name="{{event.icon}}" style="margin-left: 80%; height: 1.2rem; width: 1.2rem; position: relative"></ion-icon>
          </ion-col>
  
        </ion-row>
  
      </ion-card-header>
  
      <ion-card-content type="button" >
        <h3>
          <ion-icon name="calendar"></ion-icon>
          {{dateUtil.formateDate(event.debut)}}
        </h3>
  
  
        <h3>
          <ion-icon name="clock"></ion-icon>
          {{dateUtil.formateHeure(event.debut)}} → {{dateUtil.formateHeure(event.fin)}}
        </h3>
  
  
        <h3>
          <ion-icon name="pin"></ion-icon>
          {{event.adresse.ville}}
        </h3>
      </ion-card-content>

</ion-card>
</ion-content>