<ion-header>
  <ion-toolbar text-center>
    <ion-title>Bienvenue sur Sport2Go</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%; display: flex">
    <ion-row  style="flex: 1 1 auto; justify-content: center; ">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" class="container">
        <div text-center>
          <img src="../../../../assets/logos/logo.png"/>
          <h4>Connectez vous</h4>
        </div>
        <div padding>
          <ion-item>
            <ion-input placeholder="Adresse Email" [(ngModel)]="username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="Mot de passe" type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </div>

        <div padding>
          <ion-button ion-button color="secondary" (click)="login()">
            Connexion
          </ion-button>

          <ion-button icon="exit" ion-button margin-right (click)="register()">
            Créer un compte
          </ion-button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>